.menu__ClasesTeoricas{
    background-color: red;
}
.titulo{
    background-color: black;
    color: white;
    display: flex;
    border-radius: 40px;
    background-color: red;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    border: outset;
}
.video--primera_fila{
    display: flex;
    justify-content:  space-between;
    margin-top: 40px;
}
.video--segunda_fila{
    display: flex;
    justify-content:  space-between;
    margin-top: 20px;
}
@media screen and (max-width: 760px){
    .titulo{
    width: 100%;
    margin-left: 70px;
    font-size: var(--fuente-titulos);
    width: 250px;
    }
    .video--primera_fila{
    display: grid;
    margin-left: 25%;
    margin-top: 10px;
    }
    .video{
    margin-top: 10px;
    width: 200px;
    height: 150px;
    }
    .video--segunda_fila{
    display: grid;
    margin-left: 25%;
    margin-top: 0px;
    }
}
