body{
    background-color: black;
    background-image: none;
}
.titulo{
    color: white;
    display: flex;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.video--primera_fila{
    display: flex;
    justify-content:  space-between;
    margin-top: 20px;
}
.video--segunda_fila{
    display: flex;
    justify-content:  space-between;
    margin-top: 20px;
}
