:root{
    --width:500px;
    --height:250px;
    --font-size: 18px;
    --tamano-img: 50px;
    --fondo: rgba(255, 245, 245, 0.75);
    --bordes: 10px;
    --color-letra: white;
}
.menu__Contactanos{
    background-color: red;
}
#seccion{
    border-radius: 20px;
    margin: 50px 10px 10px 10px;
    background: var(--fondo);
    border: outset;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-areas: "titulo1 titulo2"
                         "titulo1--img titulo2--img"
                         "titulo1--texto titulo2--texto"
                         "titulo--redes titulo--redes"
                         "imagen1 imagen2";
}

#titulo1{
    grid-area: titulo1;
    display: grid;
    justify-content: center;
}
#titulo2{
    grid-area: titulo2;
    display: grid;
    justify-content: center;
}
#titulo1--img{
    grid-area: titulo1--img;
    display: grid;
    justify-content: center;
    margin-left: 45%;
    margin-right: 45%;
}
#titulo2--img{
    width: 64px;
    height: 64px;
    grid-area: titulo2--img;
    margin-left: 45%;
    margin-right: 45%;
}
#titulo1--texto{
    grid-area: titulo1--texto;
    display: grid;
    justify-content: center;
}
#titulo2--texto{
    grid-area: titulo2--texto;
    display: grid;
    justify-content: center;
}
#titulo--redes{
    grid-area: titulo--redes;
    display: grid;
    justify-content: center;
    text-align: center;
}
#imagen1{
    width: 64px;
    height: 64px;
    grid-area: imagen1;
    margin-left: 80%;
}
#imagen2{
    width: 64px;
    height: 64px;
    grid-area: imagen2;
    margin-left: 50px;
}
@media screen and (max-width: 900px){
 
    #seccion{
        border-radius: 20px;
        margin: 50px 10px 10px 10px;
        background: var(--fondo);
        border: outset;
        font-family: 'Times New Roman', Times, serif;
        display: grid;
        grid-template-areas: "titulo1"
                             "titulo1--img"
                             "titulo1--texto"
                             "titulo2"
                             "titulo2--img"
                             "titulo2--texto"
                             "titulo--redes"
                             "imagen1"
                             "imagen2";
    }
    
    #titulo1{
        grid-area: titulo1;
        font-size: var(--font-size);
        display: grid;
        justify-content: center;
    }
    #titulo2{
        grid-area: titulo2;
        font-size: var(--font-size);
        display: grid;
        justify-content: center;
    }
    #titulo1--img{
        width: 50px;
        height: 50px;
        grid-area: titulo1--img;
        margin-left: 43%;
    }
    #titulo2--img{
        width: 50px;
        height: 50px;
        grid-area: titulo2--img;
    }
    #titulo1--texto{
        grid-area: titulo1--texto;
        display: grid;
        justify-content: center;
    }
    #titulo2--texto{
        grid-area: titulo2--texto;
        display: grid;
        justify-content: center;
    }
    #titulo--redes{
        grid-area: titulo--redes;
        display: grid;
        justify-content: center;
        text-align: center;
    }
    #imagen1{
        width: 50px;
        height: 50px;
        grid-area: imagen1;
        margin-left: 45%;
    }
    #imagen2{
        width: 50px;
        height: 50px;
        grid-area: imagen2;
        margin-left: 45%;
    }
    
}