
@media screen and (max-width: 760px){
    :root{
        --fuente-letras : 10px;
    }

    .header{
        display: grid;
        width: 100%;
    }
    .header__titulo{
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .header__telefono{
        margin-left: 150px;
        width: 75px;
        height: 25px;
    }
    .menu{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        border-radius: 0px;
        padding: 7px;
    }
    .menu__LaAcademia, .menu__MaterialTeorico, .menu__Test, .menu__ClasesTeoricas, .menu__Requisitos, .menu__Contactanos{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        margin-left: 10px;
        width: 30px;
        height: 10px;
        padding: 7px;
        font-size:  7px/*var(--fuente-letras); */
    }
    
    .cuerpo__texto1, .cuerpo__texto2, .cuerpo__texto3{
        font-size: var(--fuente-letras);
    }
    
    .cuerpo__titulo{
        display: flex;
        justify-content: center;
    }
    
    .cuerpo__texto{
        font-size: 10px;
        width: 200px;
        display: flex;
        text-align: center;
        margin-left: 70px;
    }
    .footer{
        width: 100%;
        border-radius: 0px;
    }
    .footer__imagen{
        width: 50px;
        height: 50px;
    }
}
