:root{
    --width:500px;
    --height:250px;
    --font-size: 18px;
    --tamano-img: 50px;
    --fondo: rgba(255, 0, 0, 0.60);
    --bordes: 10px;
    --color-letra: white;
}
.menu__Contactanos{
    background-color: red;
}
#seccion{
    font-family: 'Times New Roman', Times, serif;
}

.titulos{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    color: var(--color-letra);
    text-align: center;
}
#titulo1, #titulo2{
    padding: 10px;
    background-color: var(--fondo);
}

.cuerpo{
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
}

.texto{
    color: var(--color-letra);
    display: flex;
    justify-content: space-between;
    margin-left: 225px;
    margin-right: 225px;
}


#titulo1--img{
    width: var(--tamano-img);
    height: var(--tamano-img);
    background-color: var(--fondo);
    border-radius: 100%;
    padding: 5px;
}
#titulo2--img{
    width: var(--tamano-img);
    height: var(--tamano-img);
    padding: 5px;
}

#titulo1--texto, #titulo2--texto{
    background-color: var(--fondo);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 40px;
}
#segunda_parte{
    margin: var(--bordes);
    background-color: var(--fondo);
    border-radius: 80px;
    border: outset;
}

.titulos--redes{
    color: var(--color-letra);
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
    text-align: center;
    background-color: var(--fondo);
    margin-right: 400px;
    margin-left: 400px;
}
.redes--img{
    display: flex;
    justify-content: center;
}
.imagenes{
    width: var(--tamano-img);
    height: var(--tamano-img);
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.redes--links{
    color: var(--color-letra);
    display: flex;
    justify-content: center;
}
.redes{
    color: var(--color-letra);
    text-decoration: none;
    margin-left: 80px;
    margin-right: 25px;
    margin-block-end: 20px;
}