
.titulo{
    display: flex;
    justify-content: space-between; 
}
.titulo--1{
    margin-left: 100px;
}
.titulo--3{
    margin-right: 100px;
}
.texto{
    display: flex;
    justify-content: space-between;
}
.texto--1{
    margin-left: 10px;
    margin-block-end: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
}
.texto--2{
    display: flex;
    justify-content: center;
    margin-block-end: auto;
    padding: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
}
.texto--3{
    display: flex;
    justify-content: center;
    margin-block-end: auto;
    padding: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
}
.footer{
    margin-top: 50px;
    background: rgba(255, 245, 245, 0.75);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 80px;
    border: 2px solid black;
}
.footer__imagen{
    height: 150px;
    width: 200px;
}


