:root{
    --margin-top: 40px;
    --padding: 40px;
    --padding-chico: 30px;
    --color-fondo: rgba(255, 245, 245, 0.75);
    --color-titulo: red; 
    --borde: 2px solid white;
    --font-size: 20px;
    --border-radius: 40px;
    --texto: white;
    --color-negro: black;

    --margin-top-mobile: 20px;
    --padding-mobile: 10px;
    --font-size-mobile: 10px;
    --padding-chico-mobile: 5px;
}
body{
    transition-duration: 1s, 1s;
    background-attachment: fixed;
}
.menu__MaterialTeorico{
    background-color: red;
}

.titulo1{
    width: 500px;
    height: 150px;
    border-radius: 40px;
    font-size: 30px;
    color: var(--texto);
    border: var(--borde);
    background: var(--color-titulo);
}
.titulo-teorico{
    text-align: center;
    text-decoration: underline black;
    margin-top: var(--margin-top);
}
.material_linea1{
    margin-top: var(--margin-top);
    padding: var(--padding);
    display: flex;
    justify-content: space-around;
}
.material_linea1__ley1, .material_linea1__ley2, .material_linea1__senales{
    color: var(--texto);
    text-decoration: none;
    font-size: var(--font-size);
    padding: var(--padding);
    background: rgba(255, 0, 0, 0.60);
    border: var(--borde);
    border-radius: var(--border-radius);
}
.material_linea2{
    margin-top: var(--margin-top);
    padding: var(--padding);
    display: flex;
    justify-content: space-around;
}
.material_linea2__reglamento, .material_linea2__ley, .material_linea2__ley-faltas{
    display: flex;
    align-items: center;
    color: var(--texto);
    text-decoration: none;
    font-size: var(--font-size);
    margin-top: none;
    padding: var(--padding-chico);
    background: rgba(255, 0, 0, 0.60);
    border: outset;
    border-radius: var(--border-radius);
}
 
#auto-moto, #profesionales{
    color: var(--texto);
    text-decoration: none;
    font-size: var(--font-size);
    padding: var(--padding);
    background: rgba(255, 0, 0, 0.60);
    border: outset;
    border-radius: var(--border-radius);
}

.material_linea1__ley1:hover, .material_linea1__ley2:hover, .material_linea1__senales:hover{
    background-color: var(--color-titulo);
}
.material_linea2__reglamento:hover, .material_linea2__ley:hover, .material_linea2__ley-faltas:hover{
    background-color: var(--color-titulo);
}
#auto-moto:hover, #profesionales:hover{
    background-color: var(--color-titulo);
}

@media screen and (max-width: 800px){
    .titulo1, .titulo2{
        width: 350px;
        height: 100px;
        font-size: 20px;
    }
    .material_linea1, .material_linea2{
        margin-top: 10px;
        padding: 10px;
    }
    #auto-moto, #profesionales {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 250px;
        height: 10px;
        font-size: 15px;
    }
    .material_linea1__senales, .material_linea1__ley2, .material_linea1__ley1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 250px;
        height: 10px;
        font-size: 10px;
    }
    .material_linea2__reglamento, .material_linea2__ley, .material_linea2__ley-faltas{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 250px;
        height: 10px;
        font-size: 10px;
    }
}