@media (max-width: 600px) {
    .body{
        margin: 0px;
    }

    /******* Header ******/
    .header{
        display: inherit;
        height: auto;
        width: auto;
        display: flex;
        background-color: white;
    }
    .header__titulo{
        width: 300px;
        margin: 10px;
    }
    .header__telefono{
        height: 25px;
        width: 75px;
    
    }
    .header__telefono--NumeroTelefono{
        font-size: 15px;
        color: red;
    }

    /******* Menu ******/

    .menu{
        display: flex;
        justify-content: space-around;
        background: white;
        padding: 5px;
        border: 2px solid black;
        border-radius: 30px;
    }
    .menu__LaAcademia, .menu__MaterialTeorico, .menu__Test, .menu__ClasesTeoricas, .menu__Requisitos, .menu__Contactanos   {
        padding: 5px;
        border: black;
        border-radius: 20px;
        background: rgba(255, 0, 0, 0.48) ;
    }
    .menu__LaAcademia:hover, .menu__MaterialTeorico:hover, .menu__Test:hover, .menu__ClasesTeoricas:hover, .menu__Requisitos:hover, .menu__Contactanos:hover{
        background-color: red;
        font-size: inherit;
        cursor: pointer;
        text-decoration: none;
    }
    /******** Body *********/

    .cuerpo{
        display: inherit;
    }
    .cuerpo__texto{
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: white;
        border: 2px solid black;
        border-radius: 40px;
    }

    /********* Footer *********/

    .footer__imagen{
        height: 75px;
        width: 100px;
    }

    /******* material-teorico ***********/

}
